@import './global/global.css';
@import './utilidades/tipografia.css';

/* Header */
@import './global/header.css';

/* Utilidades */
@import './utilidades/componentes.css';
@import './utilidades/cores.css';

/* Home */
@import './home/introducao.css';
@import './bicicletas/bicicletas-lista.css';
@import '/css/home/parceiros.css';
@import './home/depoimento.css';

/* Bicicletas */
@import './bicicletas/bicicletas.css';

/* Tecnologia */
@import './home/tecnologia.css';

/* Seguros */
@import './seguros/seguros.css';

/* Termos */

@import '../css/termos/termos.css';

/* Footer */
@import './global/footer.css';
